/* cascading style sheets */
/* css syntax */
/* selector{
    property: value */
    *{
        margin:0;
        padding:0;
        font-family: sans-serif;
    }
 h1{
    color: white;
    background-blend-mode:hue;
    background-color: #4f4d48 rgb(234, 239, 239);
    
 }
 div.first{
    opacity: 0.9;
 }

 .nav{
    color: white;
    background-color: #4f4d48 ;
    opacity: 0.8;
    float: top;
    text-align: center;
    text-size-adjust:30px;

    
}
section {
    background-color:rgb(107, 100, 102);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: centre;
    color: white;

}   
h1{
    text-align: center;
    text-decoration: underline;
    text-shadow: 4cm;
    
}
body{
    background-color: rgb(225, 170, 31);
}
header{
    background-color: rgb(225, 170, 31);
    color: #fff;
    padding: 1rem;
    text-align: center;
}
.center{
    object-fit: contain;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 50%;
    

}
footer{
    background-color:rgb(230, 230, 24);
}
